* {
  margin: 0;
}

html::-webkit-scrollbar,
.App::-webkit-scrollbar {
  display: none;
}

.App {
  display: flex;
  width: 100vw;
  height: 100vh;
  background: -webkit-linear-gradient(black, black, #7f7f7f);
  background-attachment: fixed;
  overflow-y: scroll;
}

.left {
  display: flex;
  flex-direction: column;
  flex: 0.5;
  flex-wrap: wrap;
}

.App > p {
  color: white;
  font-size: 2.2px;
  position: absolute;
  bottom: 20px;
  margin-left: 273%;
  margin-bottom: 1%;
  width: 100vw;
  letter-spacing: 0.5px;
  display: inline-block;
  transform: scale(6);
}

@media (max-width: 1000px) {
  .App {
    width: 100vw !important;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }
  .left {
    display: flex;
    flex-direction: column;
  }
  .App > p {
    transform: initial;
    font-size: 9px;
    letter-spacing: 0px;
    display: grid;
    place-content: center;
    margin: 10px 0 0 0;
    position: relative;
    flex-wrap: wrap;
  }
}
